# Ignore node_modules as it will be installed in the container
node_modules

# Ignore build output
dist
dist-ssr

# Ignore local environment files
*.local
.env.local
.env.*

# Ignore system files
.DS_Store

# Ignore logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*