# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Env files
.env
*.env

# Virtual environments
venv/
env/
ENV/

# Docker
Dockerfile
.dockerignore

# Git
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Tests or logs (optional)
*.log
tests/
coverage/
